@import 'variables';
@import 'variables-custom';
@import 'bootstrap';
@import 'bootswatch';
@import 'syntax-highlighting';

h1, h2, h3 {
  padding-bottom: 3px;
  border-bottom: 1px solid #aaa;
}

// Sidebar
.nav-header {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
}

.nav-list, .sidebar-search {
  margin-bottom: 2.5rem;
}

// Align the sidebar and the page titles
.page-title {
  margin-top: 0;
  padding-top: 0;
}

.navbar-static-top {
  margin-bottom: 4rem;
}

.table a:not(.btn) {
  color: $link-color;
  text-decoration: none;
}

table, .table {
  font-size: $font-size-base;
}

dl dd {
  margin-bottom: 12px;
}

.project-link {
  margin-right: 0.75rem;
}

/* external links */
a[href*="//"] {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODI2LjQyOSAtNjk4Ljc5MSkiPjxyZWN0IHdpZHRoPSI1Ljk4MiIgaGVpZ2h0PSI1Ljk4MiIgeD0iODI2LjkyOSIgeT0iNzAyLjMwOSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDZjIi8+PGc+PHBhdGggZD0iTTgzMS4xOTQgNjk4Ljc5MWg1LjIzNHY1LjM5MWwtMS41NzEgMS41NDUtMS4zMS0xLjMxLTIuNzI1IDIuNzI1LTIuNjg5LTIuNjg5IDIuODA4LTIuODA4LTEuMzExLTEuMzExeiIgZmlsbD0iIzA2ZiIvPjxwYXRoIGQ9Ik04MzUuNDI0IDY5OS43OTVsLjAyMiA0Ljg4NS0xLjgxNy0xLjgxNy0yLjg4MSAyLjg4MS0xLjIyOC0xLjIyOCAyLjg4MS0yLjg4MS0xLjg1MS0xLjg1MXoiIGZpbGw9IiNmZmYiLz48L2c+PC9nPjwvc3ZnPg==);
  padding-right: 13px;
}

.homepage-link,
a[href^="http://notebook.dev"],
a[href^="http://notebook.lincolnmullen.com"],
a[href^="http://lincolnmullen.com/projects/notebook/"] {
  background: none !important;
  padding-right: 0 !important;
}

footer {
  margin-bottom: 4rem;
}

p img {
  max-width: 100%;
}
